click==6.6
funcsigs==1.0.2
gitdb2==2.0.0
github-token==0.1.0
GitPython==2.1.1
mock==2.0.0
pbr==1.10.0
py==1.4.32
pytest==3.0.5
PyYAML==3.12
requests==2.12.4
sealedmock==0.3.0
six==1.10.0
smmap2==2.0.1
